# Copy and rename to .env to use environment variables
# dev environment vars
PORT = 3000 
API_URL = "http://localhost:3000/api"

# staging environment vars
MONGODB_URI =  "replace me"

JWT_SECRET = "defaultSecret"
JWT_EXPIRES = "1d"
# Google OAuth 2.0 credentials
GOOGLE_CLIENT_ID = "replace me"
GOOGLE_CLIENT_SECRET = "replace me"
GOOGLE_REDIRECT_URI = "http://localhost:3000/api/google-auth/callback"goo